html{
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
body{
    background: url(../images/bg.png);
}

#cover-image{
    background-size: cover;
    width: 100%;
    height: 100%;
}
#profile-content{
    position:absolute;
    top: 300px;
    left: 0;
    right: 0;
    width: 800px;
    margin: 0 auto;
}
.profile-topcard{
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), #ffffff 65%, #ffffff);
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}
.profile-topcard a:hover{
    text-decoration: none;
}
#profile-image{
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-button {
    display: none;
    margin-left: 1px;
    vertical-align: bottom;
    padding: 4px;
    width: 36px;
    height: 36px;
    background-color: rgba(235, 235, 235, 0.6);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-origin: content-box;
    cursor: pointer;
}

.edit-button {
    background-image: url('../images/ic_edit_black.png');
}
.edit-button:hover {
    background-image: url('../images/ic_edit_white.png');
}

#edit-profileImg-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.profile-avatar{
    padding: 0;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0;
    width: 240px;
    height: 240px;
}
.profile-avatar:hover a{
    display: block;
}
.profile-overview{
    display: inline-block;
    float:right;
    padding: 25px 40px;
    top: 0;
    left: 0;
    width: 560px;
    height: auto;
    padding: 25px 40px;
    position: relative;
}

.overview-content h1{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: bold;
    line-height: 28px;
    display: inline-block;
}
.overview-content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    display: inline-block;
}
.overview-content h3{
    margin: 0;
    margin-right: 5px;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    display: inline-block;
}
.overview-content:hover a{
    display: inline-block;
}
.overview-headline{
    margin: 5px 0;
}
.overview-current-previous-edu label{
    color: #999;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    display: inline-block;
}
.overview-current-previous-edu a{
    text-decoration: none;
    color: #333;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.overview-current-previous-edu a:hover{
    outline-width: 0;
    color:blue;
}
#badge {
    position: absolute;
    top: 25px;
    right: 40px
}
.profile-action{
    border-top: 1px dashed #ccc;
    padding: 0px 0 0px 21px;
    background: #f6f6f6;
    margin: 0;
}
.view-public-profile{
    display: inline-block;
    line-height: 35px;
}
.view-public-profile a{
    border: 0;
    font-size: 12px;
    color: #666;
    margin-left: 56px;
}
.view-public-profile a:hover{
    color:#0073b2;
}

.show-more-info{
    float: right;
    display: inline-block;
    border-left: 1px solid #ccc;
    padding: 8px 10px 7px 10px;
    background-color: #ececec;  
}
.profile-background{
    margin-top:0;
    margin-bottom: 10px;
    padding: 20px 40px 0 40px;
    background: #fff;
}
.profile-background h2{
    vertical-align: top;
    display: inline-block;
    margin: -20px 0 0 -40px;
    background: #333;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 7.5px 20px;
}
.bg-content h3{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    color: #434649;
}
.bg-summary {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.bg-summary:hover a{
    display: inline-block;
}

.description {
    vertical-align: text-top;
    white-space: pre-line;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
    margin: 0;
}
.bg-experience {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.bg-experience:hover a{
    display: inline-block;
}
.add-button{
    background-image: url('../images/add_black.png');
}
.add-button:hover{
    background-image: url('../images/add_white.png');
}
.bg-exp-item{
    margin: 10px 0;
    padding-bottom: 40px;
}
.bg-exp-item a:hover{
    text-decoration: none;
    color: #006fa6;
    cursor: pointer;
    outline-width: 0;
}
.bg-exp-roll{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 2px;
}
.bg-exp-company{
    display: block !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #434649;
}
.bg-exp-date h4{
    margin: 0;
    color:#66696a;
    padding-right: 5px;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
}
.pills{
    list-style: none;
    padding: 0;
}
.skill {
    transition: all 0.07s;
    display: inline-block;
    border: 0;
    margin: 0 5px 5px 0;
    padding: 0;
    font-size: 13px;
    line-height: 17px;
    color: #333333;
    font-weight: normal;
    background: #f1f1f1;
    border-radius: 2px;
    text-decoration: none;
    overflow: hidden;
}
.skill a{
    color: #333;
    display: inline-block;
    border-radius: 2px;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal
}
.skill a:hover{
    background-color: #006fa6;
}
.wrap{
    display: inline-block;
    padding: 5px 10px 4px;
}
.degree-major{
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 16px !important;
    color: #434649 !important;
    padding:0 !important;
}
.bg-edu-item{
    display: inline-block;
}
.edu-img {
    display: inline-block;
    float:right;
    height: 60px;
    width: 120px;
}
.edu-img img{
    height: 60px;
    width: auto;
}
.standard-form {
    min-width: 225px;
    min-height: 100px;
    top: -50%;
    left: 110%;
    padding: 8px 15px 15px 15px;
    background: white;
    z-index: 10;
    border-color: #ededed #c9c9c9 #a4a4a4;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 15px 15px;
    outline: 0;
    position:absolute;
}
.standard-form::before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    z-index: 9;
    top: 15px;
    left: -30px;
    border: 15px solid;
    border-color: transparent #ccc transparent transparent;
}
.standard-form::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    z-index: 9;
    top: 17px;
    left: -26px;
    border: 13px solid;
    border-color: transparent white transparent transparent;
}

.container {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    width: auto;
}
.form-title {
    margin-top: 0;
    font-size: 12px;
    line-height: 14px;
    color: #66696a;
    font-weight: normal;
    font-weight: bold;
}
.standard-form div{
    display: inline-block;
    padding: 0 auto;
}
.standard-form input[type="text"], textarea{
    box-sizing: border-box;
    padding: 5px 6px 4px 6px;
    width: 48%;
    box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}
.btn-submit{
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: bold;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
    border-color: #1b5480;
    border-radius: 5px;
    padding: 0 13px;
    height: 31px;
    line-height: 29px;
    background-color: #287bbc;
    color: #fff;
}
.btn-submit:hover{
    color: #FF5252;
    -webkit-transition: color 0.2s ease-out;
     -moz-transition: color 0.2s ease-out;
     -o-transition: color 0.2s ease-out;
     -ms-transition: color 0.2s ease-out;
     transition: color 0.2s ease-out;
}
.btn-cancel{
    background-color: #e8e8e8;
    margin-left: 5px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    border-color: #a7a7a7;
    color: #666 !important;
}
.btn-cancel:hover{
    color: #FF5252!important;
}

.bg-content-img {
    margin-top: -10px;
}

.blur {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.98;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.form-login {
    width: 620px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 35%;
    z-index: 1001;
}
.form-login header{
    background: rgb(39, 59, 145);
    border-bottom: 5px solid #EC2426;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 24px;
}
.form-login h1{
    display: block;
    color: #fff;
    line-height: 80px;
    margin: 0;
    font-size: 24px;
    font-weight: 500px;
}
.form-login-wrap{
    width: 420px;
    margin: 0 auto;
}
.btn-fb-login{
    display: block;
    background-color: rgb(39, 59, 145);
    color: #fff;
    line-height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.btn-fb-login i{
    line-height: 50px !important;
    width: 60px !important;
    background-color: #203272 !important;
    font-size: 30px !important;
    display: inline-block !important;
    position: absolute !important;
    top: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn-gg-login {
    background-color: #EF4C51!important;
}
.btn-gg-login i{
    background-color: #EC2426 !important;
}

.nav-bar{
    z-index: 99;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #3f3f3f;
    background-image: -webkit-linear-gradient(top, #696969,#3f3f3f);
    box-shadow: 0 0 10px #333;
    height: 42px;
}
.right-nav {
    padding-top: 13.5px;
    float: right;
    height: 100%;
    vertical-align: middle;
}
.nav-link{
    color: #d7d7d7;
    padding: 13.5px 10px 14.5px 10px;
    vertical-align: middle;
}
.nav-link:hover{
    text-decoration: none;
    color: #006fa6;
}
.nav-wrap{
    width: 974px;
    margin: 0 auto;
}


