<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8" />
    <title>Nguyen Viet Tri | 1312629</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://use.fontawesome.com/34d321c9f9.js"></script>
    <script type="text/javascript" src="script/angular.js"></script>
    <script type="text/javascript" src="script/app.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
</head>

<body ng-app="Midterm" ng-controller="MidtermCtrl">
    <div class="nav-bar">
        <div class="nav-wrap">
            <div class="right-nav">
                <a class="nav-link" href="">{{Username}}</a>
                <a class="nav-link" href="" ng-click="login=SignOut()">Sign Out</a>
            </div>
        </div>
    </div>
    <div id="profile-page" ng-controller="MidtermCtrl">
        <img id="cover-image" src="images/cover-image.jpg"  alt="cover-image">
        <div id="profile-content">
            <div class="profile-topcard">
                <div class="profile-avatar">
                    <div class="container">
                        <img id="profile-image" ng-src={{data.Avatar}}>
                        <div class="standard-form" style="top:10%;" ng-show="avatar === 1">
                            <h5 class="form-title">Profile Image</h5>
                            <input type=text ng-model="temp" style="width:95%;">
                            <div>
                                <input type=submit class="btn-submit" value="Save" ng-click="saveAvatar()">
                                <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="avatar=0">
                            </div>
                        </div>
                    </div>
                    <a id="edit-profileImg-btn" class="overlay-button edit-button" ng-click="profileImageEditShow()" style="height: 28px; width: 28px;"></a>
                </div>
                <div class="profile-overview">
                        <div class="overview-content">
                            <div class="overview-content-name">
                                <div class="container">
                                    <h1>{{data.FName + " " + data.LName}}</h1>
                                    <div class="standard-form" ng-show="name === 1">
                                        <h5 class="form-title">Name</h5>
                                        <div>
                                            <input type=text ng-model="tmp1">
                                            <input type=text ng-model="tmp2">
                                        </div>
                                        <div>
                                            <input type=submit class="btn-submit" value="Save" ng-click="saveName()">
                                            <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="name=0">
                                        </div>
                                    </div>
                                </div>
                                <a class="overlay-button edit-button" ng-click="nameEditShow()" style="height: 28px; width: 28px;"></a>
                            </div>
                            <div class="overview-headline">
                                <div class="container">
                                    <h2>{{data.Headline}}</h2>
                                    <div class="standard-form" ng-show="headline === 1">
                                        <h5 class="form-title">Headline</h5>
                                        <input type=text ng-model="temp1" style="width:95%;">
                                        <div>
                                            <input type=submit class="btn-submit" value="Save" ng-click="saveHeadline()">
                                            <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="headline=0">
                                        </div>
                                    </div>
                                </div>
                                <a class="overlay-button edit-button" ng-click="headlineEditShow()" style="height: 24px; width: 24px;"></a>
                            </div>
                            <div class="overview-demographics">
                                <div class="container">
                                    <h3>{{data.Location}}</h3>|
                                    <h3>{{data.Industry}}</h3>
                                    <div class="standard-form" ng-show="demo === 1">
                                        <h5 class="form-title">Location</h5>
                                        <input type=text ng-model="temp2" style="width:95%;">
                                        <h5 class="form-title">Industry</h5>
                                        <input type=text ng-model="temp3" style="width:95%;">
                                        <div>
                                            <input type=submit class="btn-submit" value="Save" ng-click="saveDemo()">
                                            <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="demo=0">
                                        </div>
                                    </div>
                                </div>
                                <a class="overlay-button edit-button" ng-click="demoEditShow()" style="height: 19px; width: 19px; padding: 2px;"></a>
                            </div>
                            <div class="overview-current-previous-edu">
                                <table>
                                    <tr>
                                        <td>
                                            <label>Current</label>
                                        </td>
                                        <td>
                                            <div>
                                                <a href="" ng-repeat="item in data.Experience | filter: {EndDate: 'Present'} | limitTo: 3">{{item.Company}}, </a>
                                                <a class="overlay-button edit-button" href="#bg-exp" style="height: 19px; width: 19px; padding: 2px;"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Previous</label>
                                        </td>
                                        <td>
                                            <div>
                                                <a href="" ng-repeat="item in data.Experience | filter: {EndDate: '!Present'} | limitTo: 3">{{item.Company}}, </a>
                                                <a class="overlay-button edit-button" href="#bg-exp" style="height: 19px; width: 19px; padding: 2px;"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Projects</label>
                                        </td>
                                        <td>
                                            <div>
                                                <a href="" ng-repeat="item in data.Projects | limitTo: 3">{{item.Name}}, </a>
                                                <a class="overlay-button edit-button" href="#bg-pj" style="height: 19px; width: 19px; padding: 2px;"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Education</label>
                                        </td>
                                        <td>
                                            <div>
                                                <a href="" ng-repeat="item in data.Education | limitTo: 3">{{item.Name}},</a>
                                                <a class="overlay-button edit-button" href="#bg-edu" style="height: 19px; width: 19px; padding: 2px;"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>    
                            </div>
                            <div id="badge">
                                <a href="index.html" title="Nguyễn Viết Trí profile"><img src="images/badge.png"></a>
                            </div>
                        </div>
                </div>
                <div class="profile-action">
                    <div class="view-public-profile">
                        <a href="index.html">View public profile</a>
                    </div>
                    <div class="show-more-info">
                        <a href="">Contact info</a>
                    </div>
                </div>
            </div>
            <div class="profile-background">
                <h2>Background</h2>
                <div class="bg-content">
<!---------------------------------SUMMARY-------------------------------->
                    <div class="bg-summary">
                        <div class="bg-content-header">
                            <div class="container">
                                <img class="bg-content-img" src="images/ic_summary.png"/>
                                <h3>Summary</h3>
                                <div class="standard-form" ng-show="summary === 1" style="width: 500px; height: 500px;top:0">
                                    <h5 class="form-title">Summary</h5>
                                    <textarea ng-model="temp4" style="width:98%;height:80%;"></textarea>
                                    <div>
                                        <input type=submit class="btn-submit" value="Save" ng-click="saveSummary()">
                                        <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="summary=0">
                                    </div>
                                </div>
                            </div>    
                            <a class="overlay-button edit-button" ng-click="summaryEditShow()" style="height: 26px; width: 26px; padding: 2px; float: right;"></a>
                        </div>
                        <p class="description">{{data.Summary}}</p>
                    </div>
                    
<!----------------------------EXPERIENCES--------------------------------->
                    <div class="bg-experience" id="bg-exp">
                        <div class="bg-content-header">
                            <div class="container">
                                <img class="bg-content-img" src="images/ic_exp.png"/>
                                <h3>Experience</h3>
                                <div class="standard-form" ng-show="aexp==true">
                                    <h5 class="form-title">Roll</h5>
                                    <input type=text ng-model="temp6.Roll" style="width:95%;">
                                    <h5 class="form-title">Company</h5>
                                    <input type=text ng-model="temp6.Company" style="width:95%;">
                                    <h5 class="form-title">Start Date</h5>
                                    <input type=text ng-model="temp6.StartDate" style="width:95%;">
                                    <h5 class="form-title">End Date</h5>
                                    <input type=text ng-model="temp6.EndDate" style="width:95%;">
                                    <h5 class="form-title">Description</h5>
                                    <textarea ng-model="temp6.Description" style="width:400px;height:200px;"></textarea>
                                    <div>
                                        <input type=submit class="btn-submit" value="Save" ng-click="addExp()">
                                        <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="aexp = false">
                                    </div>
                                </div>
                            </div>
                            <a class="overlay-button add-button" ng-click="expAddShow()" style="height: 26px; width: 26px; padding: 2px; float:right;"></a> 
                        </div>
                        <div class="bg-exp-item" ng-repeat="item in data.Experience">
                            <div class="container">
                                <a class="bg-exp-roll">{{item.Roll}}</a>
                                <div class="standard-form" ng-show="exp[$index]==true">
                                    <h5 class="form-title">Roll</h5>
                                    <input type=text ng-model="temp5.Roll" style="width:95%;">
                                    <h5 class="form-title">Company</h5>
                                    <input type=text ng-model="temp5.Company" style="width:95%;">
                                    <h5 class="form-title">Start Date</h5>
                                    <input type=text ng-model="temp5.StartDate" style="width:95%;">
                                    <h5 class="form-title">End Date</h5>
                                    <input type=text ng-model="temp5.EndDate" style="width:95%;">
                                    <h5 class="form-title">Description</h5>
                                    <textarea ng-model="temp5.Description" style="width:400px;height:200px;"></textarea>
                                    <div>
                                        <input type=submit class="btn-submit" value="Save" ng-click="saveExp($index)">
                                        <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="exp[$index] = false">
                                    </div>
                                </div>
                            </div>
                            <a class="overlay-button edit-button" ng-click="expEditShow($index)" style="height: 24px; width: 24px; padding: 2px; float: right;"></a>
                            <a class="bg-exp-company">{{item.Company}}</a>
                            <div class="bg-exp-date">
                                <h4>{{item.StartDate}}</h4>-
                                <h4>{{item.EndDate}}</h4>
                            </div>
                            <p class="description">{{item.Description}}</p>
                        </div>
                    </div> 
<!----------------------------SKILLS------------------------------------->  
                    <div class="bg-skills bg-summary">
                        <div class="bg-content-header">
                            <div class="container">
                                <img class="bg-content-img" src="images/ic_skills.png"/>
                                <h3>Skills</h3>
                                <div class="standard-form" style="top:10%;" ng-show="skill === 1">
                                    <h5 class="form-title">Skills</h5>
                                    <input type=text ng-model="temp7.Skill" style="width:95%;">
                                    <div>
                                        <input type=submit class="btn-submit" value="Save" ng-click="addSkill()">
                                        <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="skill=0">
                                </div>
                        </div>
                            </div>
                            <a class="overlay-button add-button" ng-click="skillAddShow()" style="height: 26px; width: 26px; padding: 2px; float:right;"></a>
                        </div>
                        <div class="bg-skills-content">
                            <ul class="pills">
                                <li class="skill" ng-repeat="item in data.Skills">
                                    <a href="">
                                        <span class="wrap">{{item.Skill}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
<!-----------------------------PROJECTS---------------------------------->
                    <div class="bg-project bg-summary" id="bg-pj">
                        <div class="bg-content-header">
                            <div class="container">
                                <img class="bg-content-img" src="images/ic_pj.png"/>
                                <h3>Projects</h3>
                                <div class="standard-form" ng-show="apj==true">
                                    <h5 class="form-title">Name</h5>
                                    <input type=text ng-model="temp8.Name" style="width:95%;">
                                    <h5 class="form-title">Start Date</h5>
                                    <input type=text ng-model="temp8.StartDate" style="width:95%;">
                                    <h5 class="form-title">End Date</h5>
                                    <input type=text ng-model="temp8.EndDate" style="width:95%;">
                                    <h5 class="form-title">Description</h5>
                                    <textarea ng-model="temp8.Description" style="width:400px;height:200px;"></textarea>
                                    <div>
                                        <input type=submit class="btn-submit" value="Save" ng-click="addPj()">
                                        <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="apj = false">
                                    </div>
                                </div>
                            </div>
                            <a class="overlay-button add-button" ng-click="projectAddShow()" style="height: 26px; width: 26px; padding: 2px; float:right;"></a>
                        </div>
                        <div class="bg-projects-content">
                            <div class="bg-projects-item bg-exp-item" ng-repeat="item in data.Projects">
                                <div class="container">
                                    <a class="bg-project-name bg-exp-roll">{{item.Name}}</a>
                                    <div class="standard-form" ng-show="pj[$index]==true">
                                    <h5 class="form-title">Name</h5>
                                    <input type=text ng-model="temp9.Name" style="width:95%;">
                                    <h5 class="form-title">Start Date</h5>
                                    <input type=text ng-model="temp9.StartDate" style="width:95%;">
                                    <h5 class="form-title">End Date</h5>
                                    <input type=text ng-model="temp9.EndDate" style="width:95%;">
                                    <h5 class="form-title">Description</h5>
                                    <textarea ng-model="temp9.Description" style="width:400px;height:200px;"></textarea>
                                    <div>
                                        <input type=submit class="btn-submit" value="Save" ng-click="savePj($index)">
                                        <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="pj[$index] = false">
                                    </div>
                                </div>
                                </div>
                                <a class="overlay-button edit-button" ng-click="projectEditShow($index)" style="height: 24px; width: 24px; padding: 2px; float: right;"></a>
                                <div class="bg-project-date bg-exp-date">
                                    <h4>{{item.StartDate}}</h4>-
                                    <h4>{{item.EndDate}}</h4>
                                </div>
                                <p class="description">{{item.Description}}</p>
                            </div>
                        </div>
                    </div>
                    
<!----------------------------EDUCATION------------------------------------>
                    <div class="bg-education bg-summary" id="bg-edu">
                        <div class="bg-content-header">
                            <div class="container">
                                <img class="bg-content-img" src="images/ic_edu.png"/>
                                <h3>Education</h3>
                                <div class="standard-form" ng-show="aedu==true">
                                    <h5 class="form-title">Name</h5>
                                    <input type=text ng-model="temp10.Name" style="width:95%;">
                                    <h5 class="form-title">Degree</h5>
                                    <input type=text ng-model="temp10.Degree" style="width:95%;">
                                    <h5 class="form-title">Major</h5>
                                    <input type=text ng-model="temp10.Major" style="width:95%;">
                                    <h5 class="form-title">Start Date</h5>
                                    <input type=text ng-model="temp10.StartDate" style="width:95%;">
                                    <h5 class="form-title">End Date</h5>
                                    <input type=text ng-model="temp10.EndDate" style="width:95%;">
                                    <h5 class="form-title">Image Source</h5>
                                    <input type=text ng-model="temp10.ImgSrc" style="width:95%;">
                                    <div>
                                        <input type=submit class="btn-submit" value="Save" ng-click="addEdu()">
                                        <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="aedu = false">
                                    </div>
                                </div>
                            </div>
                            <a class="overlay-button add-button" ng-click="eduAddShow()" style="height: 26px; width: 26px; padding: 2px; float:right;"></a>
                        </div>
                         <div class="bg-edu-content" ng-repeat="item in data.Education">
                            <div class="bg-edu-item bg-exp-item">
                                <div class="container">
                                    <a class="bg-edu-name bg-exp-roll">{{item.Name}}</a>
                                    <div class="standard-form" ng-show="edu[$index]==true">
                                        <h5 class="form-title">Name</h5>
                                        <input type=text ng-model="temp11.Name" style="width:95%;">
                                        <h5 class="form-title">Degree</h5>
                                        <input type=text ng-model="temp11.Degree" style="width:95%;">
                                        <h5 class="form-title">Major</h5>
                                        <input type=text ng-model="temp11.Major" style="width:95%;">
                                        <h5 class="form-title">Start Date</h5>
                                        <input type=text ng-model="temp11.StartDate" style="width:95%;">
                                        <h5 class="form-title">End Date</h5>
                                        <input type=text ng-model="temp11.EndDate" style="width:95%;">
                                        <h5 class="form-title">Image Source</h5>
                                        <input type=text ng-model="temp11.ImgSrc" style="width:95%;">
                                        <div>
                                            <input type=submit class="btn-submit" value="Save" ng-click="saveEdu($index)">
                                            <input type="button" class="btn-cancel btn-submit" value="Cancel" ng-click="edu[$index] = false">
                                        </div>
                                    </div>
                                </div>
                                <a class="overlay-button edit-button" ng-click="eduEditShow($index)" style="height: 20px; width: 20px; padding: 2px; float: right;"></a>
                                <div>
                                    <h3 class="degree-major">{{item.Degree}}</h3>,
                                    <h3 class="degree-major">{{item.Major}}</h3>
                                </div>
                                <div class="bg-project-date bg-exp-date">
                                    <h4>{{item.StartDate}}</h4>-
                                    <h4>{{item.EndDate}}</h4>
                                </div>
                            </div>
                             <div class="edu-img">
                                <a href="">
                                    <img ng-src={{item.ImgSrc}}>
                                </a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blur" ng-show="login == false">

    </div>
    <div class="form-login" ng-show="login == false">
        <header>
            <h1>LOGIN</h1>
        </header>
        <div class="form-login-wrap">
            <div class="btn-fb-login" ng-click="login = btnLoginFBClick()">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Login by FACEBOOK
            </div>
            <div class="btn-gg-login btn-fb-login" ng-click="login = btnLoginGGClick()">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                Login by GOOGLE
            </div>
        </div>
    
    </div>
</body>